*{
    margin:0;
    padding: 0;
}

#menu{
    width: 1200px;
    height: 50px;
    margin: 0 auto;
}

#menu > ul > li {
    float: left;
    list-style-type: none;

}

#menu > ul > li > a {
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    text-decoration: none;
    color: black;
    background-color: aqua;
    border-bottom: 2px solid white;
    transition: all .5s ease;
}    

#menu > ul > li:hover >a {
    background-color: red;
    border-bottom: 2 px solid black;
}  